<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coursework 1</title>

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <main id="app">

        <nav class="bg-blue-700">
            <div
              class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-4 flex items-center justify-between"
            >
              <a
                href="/"
                class="text-white font-semibold text-3xl"
                style="font-family: cursive"
              >
                Coursework 1
              </a>
    
              <button
                v-on:click="showCart = !showCart"
                class="flex items-center space-x-2"
                v-bind:class="[noOfItemsInCart == 0 ? 'text-gray-400' : 'text-white']"
                v-bind:disabled="noOfItemsInCart == 0"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                  />
                </svg>
    
                <span>{{ noOfItemsInCart }}</span>
              </button>
            </div>
          </nav>

          <section
        class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-6 flex flex-col space-y-4 sm:space-y-0 sm:flex-row sm:space-x-8 items-start"
        v-if="!showCart"
      >
        <div class="w-full sm:w-1/5 space-y-6">
          <input
            type="text"
            class="p-2 border w-full"
            placeholder="Search lessons"
            v-model="search"
          />

          <div class="space-y-2">
            <p class="font-semibold text-blue-700">Filter:</p>

            <div>
              <input
                type="radio"
                name="sortBy"
                id="subject"
                value="subject"
                v-model="sortOption"
              />
              <label for="subject">Subject</label>
            </div>
            <div>
              <input
                type="radio"
                name="sortBy"
                id="location"
                value="location"
                v-model="sortOption"
              />
              <label for="location">Location</label>
            </div>
            <div>
              <input
                type="radio"
                name="sortBy"
                id="price"
                value="price"
                v-model="sortOption"
              />
              <label for="price">Price</label>
            </div>
            <div>
              <input
                type="radio"
                name="sortBy"
                id="availability"
                value="availability"
                v-model="sortOption"
              />
              <label for="availability">Availability</label>
            </div>
          </div>

          <div class="space-y-2">
            <p class="font-semibold text-blue-700">Order:</p>

            <div>
              <input
                type="radio"
                name="orderBy"
                id="ascending"
                value="ascending"
                v-model="orderOption"
              />
              <label for="ascending">Ascending</label>
            </div>
            <div>
              <input
                type="radio"
                name="orderBy"
                id="descending"
                value="descending"
                v-model="orderOption"
              />
              <label for="descending">Descending</label>
            </div>
          </div>
        </div>

        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 sm:w-4/5 w-full">
          <div
            class="border border-gray-200 rounded"
            v-for="lesson in modifiedLessons"
            :key="lesson.id"
          >
            <img
              v-bind:src="`https://sayma-cw2.onrender.com/images/${lesson.image}`"
              class="w-full h-40"
              v-bind:alt="lesson.subject"
            />
            <div class="p-4">
              <p>
                <strong>Subject: </strong>
                {{ lesson.subject }}
              </p>
              <p>
                <strong>Location: </strong>
                {{ lesson.location }}
              </p>
              <p>
                <strong>Price: </strong>
                £{{ lesson.price }}
              </p>
              <p>
                <strong>Spaces: </strong>
                {{ lesson.spaces }}
              </p>

              <button
                class="bg-blue-700 p-2 text-white rounded !mt-4 disabled:opacity-20"
                v-bind:disabled="lesson.spaces == 0"
                v-on:click="addItemToCart(lesson._id)"
              >
                <span v-if="lesson.spaces > 0">Add to cart</span>
                <span v-else>Out of stock</span>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section v-else class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-6">
        <div class="space-y-4">
          <h2 class="uppercase tracking-wider text-xl font-bold text-blue-700">
            Shopping Cart
          </h2>

          <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <div
              class="border border-gray-200 rounded"
              v-for="cartItem in cart"
              :key="cartItem.id"
            >
              <img
                v-bind:src="`https://sayma-cw2.onrender.com/images/${cartItem.image}`"
                class="w-full h-40"
                v-bind:alt="cartItem.subject"
              />
              <div class="p-4">
                <p>
                  <strong>Subject: </strong>
                  {{ cartItem.subject }}
                </p>
                <p>
                  <strong>Location: </strong>
                  {{ cartItem.location }}
                </p>
                <p>
                  <strong>Price: </strong>
                  £{{ cartItem.price }}
                </p>
                <p>
                  <strong>Spaces: </strong>
                  {{ cartItem.spaces }}
                </p>

                <button
                  class="bg-blue-700 p-2 text-white rounded !mt-4 disabled:opacity-20"
                  v-on:click="removeItemFromCart(cartItem._id)"
                >
                  Remove from cart
                </button>
              </div>
            </div>
          </div>

          <form v-on:submit.prevent="checkout" class="w-full sm:w-2/3 lg:w-1/4 space-y-4 p-4 border rounded shadow">
            <h3 class="text-xl font-semibold text-blue-700">Checkout</h3>

            <input
              type="text"
              class="p-2 border w-full"
              placeholder="Name"
              v-model="name"
            />
            <span v-if="nameError" class="text-red-500">{{ nameError }}</span>

            <br>

            <input
              type="tel"
              class="p-2 border w-full"
              placeholder="Phone"
              v-model="phone"
            />
            <span v-if="phoneError" class="text-red-500">{{ phoneError }}</span>

            <br>

            <button class="bg-blue-700 p-2 rounded text-white" :class="{'opacity-20': !isCheckoutFormValid}" v-bind:disabled="!isCheckoutFormValid">Checkout</button>
          </form>
        </div>
      </section>

    </main>

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

    <script src="./app.js"></script>
  </body>
</html>